* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: inline-block;
  padding-left: 20px;
  padding-top: 10px;
}
h1 {
  display: inline-block;
  font-size: 36px;
}

.container {
  background-color: rgb(246, 248, 249, 255);
  width: 100%;
  height: 1200px;
}
.nav {
  width: 50%;
  height: 30px;
  background-color: red;
  margin-left: 25%;
}
.small-container {
  width: 50%;
  height: 1100px;
  background-color: blue;
  margin-left: 25%;
}
