* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: inline-block;
  padding-left: 20px;
  padding-top: 10px;
  vertical-align: middle;
}
.titolo {
  display: inline-block;
  font-size: 40px;
  vertical-align: middle;
}

.container {
  background-color: rgb(246, 248, 249, 255);
  width: 100%;
  height: 1200px;
  padding-top: 50px;
}
.nav {
  width: 50%;
  height: 50px;
  background-color: white;
  margin-left: 25%;
  padding: 3px;
  border-radius: 5px;
}

#tasto-sinistra {
  margin-top: 15px;
  margin-left: 40px;
  background-color: #9c72e4;
  text-align: center;
  border: 0;
  padding: 6px 8px;
  border-radius: 3px;
  font-size: 10px;
  color: white;
}

#tasto-destra {
  margin-top: 15px;
  background-color: white;
  text-align: center;
  color: gray;
  border-color: lightgray;
  padding: 5px 9px;
  border-radius: 3px;
  font-size: 10px;
}

.small-container {
  width: 50%;
  height: 1100px;
  background-color: white;
  margin-left: 25%;
  border-radius: 7px;
  margin-top: 2px;
}
.sezioni-grassetto {
  padding-top: 30px;
  margin-left: 40px;
}
.h2 {
  display: inline-block;
}

.info {
  padding-top: 10px;
  margin-left: 40px;
}
.scritte-colorate {
  border-radius: 8px;
  padding: 6px;
  font-size: 12px;
  color: white;
}
#colortype-1 {
  background-color: rgb(69, 171, 234);
}
#colore-2 {
  background-color: rgb(156, 114, 228);
}
#colore-3 {
  background-color: rgb(100, 192, 169);
}
#colore-4 {
  background-color: rgb(242, 158, 51);
}
#colore-5 {
  background-color: rgb(216, 99, 161);
}
#colore-6 {
  background-color: rgb(176, 201, 38);
}
.punto {
  list-style: none;
}

.spunta {
  display: inline-block;
}
