* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: inline-block;
  padding-left: 20px;
  padding-top: 10px;
}
h1 {
  display: inline-block;
  font-size: 36px;
}

.container {
  background-color: rgb(246, 248, 249, 255);
  width: 100%;
  height: 1200px;
}
.nav {
  width: 50%;
  height: 50px;
  background-color: white;
  margin-left: 25%;
  padding: 3px;
  border-radius: 5px;
}

#tasto-sinistra {
  margin-top: 15px;
  margin-left: 40px;
  background-color: #9c72e4;
  text-align: center;
  border: 0;
  padding: 6px 8px;
  border-radius: 3px;
  font-size: 10px;
  color: white;
}

#tasto-destra {
  margin-top: 15px;
  background-color: white;
  text-align: center;
  color: gray;
  border-color: lightgray;
  padding: 5px 9px;
  border-radius: 3px;
  font-size: 10px;
}

.small-container {
  width: 50%;
  height: 1100px;
  background-color: white;
  margin-left: 25%;
  border-radius: 7px;
}

.h2 {
  display: inline-block;
}
